
.main {
  border: 1px solid grey;

}
  
img {
  width: 50%;
  height: 150px;
}
li{
  width: 75%;
  
}

.todo__list_completed {
  text-decoration: line-through;
  background-color: blanchedalmond;
  
 
}
.todo__list{
  cursor: pointer;

  //background-color: blueviolet;
}

ul li {
 
  width: 75%;
  height: 40px;
  margin: 8px;
  border-radius: 15px;
  list-style: none;
  background-color: aqua;
  position: relative;
}
ul li button{
  position: absolute;
  right: 0px;
}

.header{
  border: 1px solid grey; 
}
.input {
  width: 75%;
  height: 30px;
  margin: 10px;
  background-color:rgb(247, 191, 247);
  border-radius: 15px;
}
button {
  width 55px;
  height: 30px;
  margin: ;
  
}



